.reveal-on-scroll {
  opacity: 0;
  transform: translateY(25px);
  transition: opacity .9s ease, transform .9s ease;
}
.reveal-on-scroll.revealed {
  opacity: 1;
  transform: translateY(0);
}

.btn {
  border: 1px solid var(--borde);
  background: rgba(0,183,255,0.1);
  color: var(--azul-claro);
  border-radius: 8px;
  padding: .6rem 1rem;
  text-decoration: none;
  transition: all .3s ease;
}
.btn:hover {
  background: rgba(0,183,255,0.3);
  color: #fff;
  box-shadow: 0 0 15px rgba(0,183,255,0.3);
}

.card {
  background: var(--card-bg);
  border: 1px solid var(--borde);
  border-radius: 10px;
  padding: 1rem;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 0 25px rgba(0,183,255,0.3);
  transform: translateY(-5px);
}
