@media (max-width: 900px) {

  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image {
    max-width: 220px;
    margin: auto;
  }

  .nav-content {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
  }

  .navbar nav {
    margin-top: 10px;
  }
}
