:root {
  --color-fondo: #000;
  --color-texto: #dff9ff;
  --azul-tech: #00b7ff;
  --azul-claro: #4fd9ff;
  --card-bg: rgba(255,255,255,0.04);
  --borde: rgba(0,183,255,0.4);

  /* categorías */
  --acad: #00b7ff;
  --invest: #bb00ff;
  --tutoria: #00ff88;
  --admin: #ffd000;
  --personal: #ff55aa;
}
