@media (max-width: 900px) {

  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image {
    max-width: 220px;
    margin: auto;
  }

  .nav-content {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
  }

  .navbar nav {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar a {
    margin: 5px 10px;
  }

  .section h2 {
    font-size: 26px;
  }

  .hero-text h1 {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .btn {
    display: block;
    margin: 10px 0;
    text-align: center;
  }

  .section {
    padding: 40px 0;
  }
}
